.ps-canvas {
  $box-border: 1px solid #ddd;
  @mixin box-border {
    border: $box-border;
  }
  $top-height: 60px;
  .top-config {
    @include box-border;
    height: $top-height;
    > .top-config__control {
      height: 30px;
      border-bottom: $box-border;
      .top-config__control__drop-down {
        padding: 5px 3px;
        margin: 2px;
        margin-left: 5px;
        &:hover {
          background: #efefef;
        }
      }
    }
  }
  .ps-canvas__main-container {
    display: flex;
    height: calc(100vh - $top-height);
    $toolbar-width: 40px;
    $toolbar-padding: $toolbar-width - 26px - 4px;
    .toolbar {
      @include box-border;
      width: $toolbar-width;
      padding: calc($toolbar-padding/2);
      > .toolbar-button {
        margin-bottom: 5px;
      }
    }
    .main-panel {
      @include box-border;
      width: calc(100vw - $toolbar-width);
      background: #999;
    }
    .right-config {
      width: 300px;
    }
  }
}
